<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../css/aos.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <title>Commutatus</title>
</head>
<body>
    <div class="present"></div>
    <header>
        <div class="logo">Amith</div>
        <div class="socialMedia hide-on-med-and-down">
            <ul>
                <li><i class="fab fa-facebook fa-lg"></i></li>
                <li><i class="fab fa-twitter fa-lg"></i></li>
                <li><i class="fab fa-instagram fa-lg"></i></li>
            </ul>
        </div>
    </header>
    <div id="section1">
        <div class="container">
            <div class="center-align">
                <p class="titleSmall">freelance designer</p>
                <h2 class="title"> I create <span class="gold">thoughtful  <sup><span class="sup">HQ</span></sup></span><br> websites for clients.</h2>
                <button id="work"><a href="#section2">About Me</a></button>
                <div class="spacing10"></div>
            </div>
        </div>
    </div>
    <div class="spacing40"></div>
    <div id="section2">
        <div class="container">
            <div class="center-align" id="imgArrow">
                <a href="#scroll"><div class="downArrow"></div>
                <img src="../images/myImg.jpg" class="responsive-img myImg" style="height: 600px;width: 0%;">
            </div>
            <div class="row">
                <div class="col m6 s12">
                    <h3 class="white-text text" id="scroll" >How can i help <br>you ?</h3>
                    <p class="grey-text smallText">Hey there, I'm Amith. As a freelance Web designer, I am here to make you stand out in the digital world. The combination of my passion for design and your vision will ensure a great end result.</p>
                </div>
                <div class="col m4 offset-m2 s12">
                    <h3 class="goldText">Skills</h3>
                    <p class="grey-text berth">HTML<br>CSS<br>Javascript<br>React<br>Wordpress<br></p>
                </div>
            </div>
        </div>
        <div class="bottom80"></div>
    </div>
    <div id="section4">
        <div class="spacing20"></div>
        <div class="container">
            <div class="row">
                <div class="col m6 s12">
                    <div class="container">
                        <p class="design" style="margin-top: 10vh;"><span class="gold">My Skills</span>:<br>
                            These are the languages that i am familiar with.</p>
                        <p class="gold berthold">HTML</p>
                        <div class="progress">
                            <div class="determinate" style="width: 70%"></div>
                        </div>
                        <p class="gold berthold">CSS</p>
        
                        <div class="progress">
                            <div class="determinate" style="width: 80%"></div>
                        </div>
                        <p class="gold berthold">Javascript</p>
        
                        <div class="progress">
                            <div class="determinate" style="width: 75%"></div>
                        </div>
                        <p class="gold berthold">React</p>
        
                        <div class="progress">
                            <div class="determinate" style="width: 50%"></div>
                        </div>
                    </div>
                </div>
                <div class="col m6 s12 hide-on-small-and-down">
                    <div class="F8795D">
                        <img src="../images/mockup.png" class="responsive-img">
                    </div>
                </div>
    
            </div>
        </div>
        <div class="bottom80"></div>
    </div>
    <div id="section3">
        <div class="container">    
            <div class="spacing20"></div>
            <div class="center-align">
                <h4 class="berth">Projects Done
                    <button class="button"><a href="#" class="berth">All Works</a>
                        <i class="fa fa-arrow-right" style="margin-left: 5px;"></i>
                    </button>
                </h4>
            </div>
            <div class="spacing10"></div>
            <div class="row">
                <div class="col m6 s12">
                    <img src="../images/nyx.PNG" class="responsive-img">
                </div>
                <div class="col m6 s12">
                    <img src="../images/red.PNG" class="responsive-img">
                </div>
            </div>
            
            <div class="spacing10"></div>
            <div class="row">
                <div class="col m6 s12">
                    <img src="../images/apply.PNG" class="responsive-img">
                </div>
                <div class="col m6 s12">
                    <img src="../images/spicerice.PNG" class="responsive-img">
                </div>
            </div>
        </div>
        <div class="bottom80"></div>
    </div>
    <div id="section4">
        <div class="container">
            <div class="center-align">
                <p class="titleSmall" style="margin-top: 20vh;">do you like my work ?</p>
                <h2 class="title" style="font-size: 2.5rem;"> Let's <span class="gold">Work </span> together!</h2>
                <button id="work"><a href="contact.html">Get in touch</a></button>
            </div>
            <div class="spacing20"></div>
            <footer class="footer">
                <p>&copy; 2019 Amith Sai</p>
            </footer>
        </div>
        
    </div>
        
    
</body>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/script.js"></script>
<script type="text/javascript" src="../js/materialize.js"></script>
<script type="text/javascript" src="../js/jquery.gsap.min.js"></script>
<script type="text/javascript" src="../js/TimelineMax.min.js"></script>
<script type="text/javascript" src="../js/TweenMax.min.js"></script>
<script type="text/javascript" src="../js/EasePack.min.js"></script>
<script src="https://kit.fontawesome.com/2e1d9fb776.js"></script>
</html>